/** search bar **/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
/** banner **/

#banner {
    display: block;
    height: 100%;
    width: 100%;
}

/** pop-up logo **/
.pop-up-logo {
	float: left;
}

.pop-up-logo img {
	float: left;
	display: block;
	width: 45%;
	height: auto;
}

/** social media buttons **/
.social {
	height: auto;
}

.social-icons {
	width: auto;
	float: right;
}

#fontawesome li {
	list-style-type: none;
	float: right;
}

#fontawesome li:hover {
	color: #E6E6E6;
}

.fa-lg {
	margin-left: 10px;

}

/** pop-up menu **/
.pop-up-menu {
	padding-bottom: 50px;
}

.btn-default a {
	text-decoration: none;
	color: #333433;

}

.btn-default a:hover {
    text-decoration: none;
    color: #000;
}

/** sidebar **/

.sidebar {
	height: 700px;
}

.main-container {
	height: 700px;
}

.logo {
	padding-left: 10px;
	padding-bottom: 15px;
}

.navigation {
	padding-left: 10px;
}

.nav li a {
	color: #333433;
	font-family: 'MyWebFont', Arial, sans-serif;
}

/** main container slogan image **/
.main-slogan-img {
	height: auto;
	width: 60%;
	margin: 0 auto;
	margin-bottom: 80px;
	margin-top: 30px;
}

.main-slogan {
	height: auto;
	width: 70%;	
	display: block;
	margin: 0 auto;
}

/** image gallery **/
ul {
  padding: 0 5 0 5;
  margin: 0 0 0 0;
}

ul li {
  list-style:none;
  margin-bottom: 25px;
}

ul li img {
  cursor: pointer;
  height: 60%;
  width: 60%;
}

/** footer **/

.footer {
	background-color: #333433;
	height: auto;
    margin-bottom: 0;
    width: 100%;
}

.topbutton a {
	display: block;
	margin: 0 auto;
	height: 30px;
	width: 100px;
	background-color: #666666;
	border: none;
}


.topbutton a:hover {
	background-color: #F4F4F4;
}

.slogan-image img {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}

.slogan p {
	display: block;
	margin: 0 auto;
	font-family: 'MyWebFont', Arial, sans-serif;
	font-size: 14px;
	color: #7D7D7D;
	text-align: center;
	margin-top: 10px;
}

.copyright p {
	display: block;
	margin: 0 auto;
	font-family: 'MyWebFont', Arial, sans-serif;
	font-size: 10px;
	color: #7D7D7D;
	margin-top: 20px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	.sidebar {
	height: 750px;
	}

	.main-container {
	height: 750px;
	}

	.pop-up-logo img {
		display: none;
	}


}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.main-container {
		height: 950px;
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.main-container {
		height: 800px;
	}
	.main-slogan-img {
		height: auto;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 80px;
		margin-top: 30px;
	}
	.pop-up-menu {
		padding-top: 35px;
	}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.main-container {
		height: 550px;
	}
	.main-slogan-img {
		height: auto;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 80px;
		margin-top: 30px;
	}

	.pop-up-menu {
		padding-top: 35px;
	}

	.slogan-image img {
		display: block;
		margin: 0 auto;
		margin-top: 10px;
		width: 35%;
		height: auto;
	}
	.slogan p {
		display: block;
		margin: 0 auto;
		font-family: 'MyWebFont', Arial, sans-serif;
		font-size: 12px;
		color: #7D7D7D;
		text-align: center;
		margin-top: 10px;
	}

}
